<div class="container">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "insert here" %>
    <% end %>
</div>

<div class="container">
    <p>
        <%= @test %>
    </p>
    <img src="<%= @image %>" alt="">
    <p>
        <%= @title %>
    </p>
    <p>
        <%= @authors %>
    </p>
    <p>
        <%= @description %>
    </p>
</div>