<div class="container">
    <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "insert here" %>
    <% end %>
</div>

<div class="container">
    <% if @items %>
        <% @items.each do |item| %>
            <% if item["volumeInfo"]["imageLinks"] %>
            <% image = item["volumeInfo"]["imageLinks"]["thumbnail"] %>
            <% end %>
            <img src="<%= image %>" alt="">
            <% title = item["volumeInfo"]["title"] %>
            <p>
                <%= title %>
            </p>
            <% if item["volumeInfo"]["authors"] %>
            <% authors = item["volumeInfo"]["authors"][0] %>
            <% end %>
            <p>
                <%= authors %>
            </p>
            <% description = item["volumeInfo"]["description"] %>
            <p>
                <%= description %>
            </p>
            <p>-------------------------</p>
        <% end %>
    <% end %>
</div>