<div class="container">
    <p>
        <%= @test %>
    </p>
    <p>
        <%= @title %>
    </p>
    <p>
        <%= @authors %>
    </p>
    <p>
        <%= @description %>
    </p>
    <img src="<%= @image %>" alt="">
</div>