<div class="users-index">
    <img src="<%= "/user_images/#{@user.image_name}" %>" alt="">
    <p><%= @user.name%> </p>
    <p><%= @user.email%> </p>
    <% if @current_user && @current_user.id == @user.id %>
    <p><%= link_to("edit", "/users/#{@user.id}/edit") %> </p>
    <% end %>
    <h3>Posts:</h3>
    <% @posts.each do |post| %>
    <h4><%= link_to(post.content, "/posts/#{post.id}") %></h4>
    <% end %>
    <h3>Liked posts:</h3>
    <% likes = Like.where(user_id: @user.id).order(created_at: :desc) %>
    <% likes.each do |like| %>
    <% post = Post.find_by(id: like.post_id)%>
    <%= link_to(post.content, "/posts/#{post.id}") %>
    <br>
    <% end %>
</div>