<div class="container">
    <div class="posts-index">
        <p><%= @post.content %></p>
        <p><%= @post.created_at %></p>
        <h3><%= link_to(@user.name, "/users/#{@user.id}") %></h3>
        <%= "Like: #{@likes.count}" %> <!-- Likes counting -->
        <% if @current_user %>
            <% if Like.find_by(post_id: @post.id, user_id: @current_user.id) %>
                <%= link_to("liked", "/posts/#{@post.id}/likes/destroy", {method: "post"}) %>
            <% else %>
            <%= link_to("like", "/posts/#{@post.id}/likes/create", {method: "post"}) %>
            <% end %>
        <% end %>
        <br>
        <p>users who liked this:</p>
        <% @likes.each do |like| %>
        <% user = User.find_by(id: like.user_id) %>
        <%= user.name %>
        <br>
        <% end %>
        <% if @current_user == @user %>
        <%= link_to("Edit", "/posts/#{@post.id}/edit") %>
        <br>
        <%= link_to("Delete", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        <% end %>
    </div>
</div>