<!DOCTYPE html>
<html>

<head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<header>
    <div class="container">
        <div class="header-logo">
            <%= link_to("TweetApp", "/")%>
        </div>
        <div class="header-right-menu">
            <% if @current_user %>
            <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
            <% end %>
            <%= link_to("Post-list", "/posts/index")%>
            <%= link_to("User-list", "/users/index")%>
            <% if session[:user_id] == nil %>
            <%= link_to("About-TweetApp", "/about")%>
            <%= link_to("Sign-up", "/users/new")%>
            <%= link_to("login", "/login_form")%>
            <% else %>
            <%= link_to("New-post", "/posts/new")%>
            <%= link_to("logout", "/logout", {method: "post"})%>
            <% end %>
        </div>
    </div>
</header>
<h4 class="flash"><%= flash[:notice] %></h4>

<body>
    <%= yield %>
</body>

</html>